.background {
    background-color: #E7DFD8;
}

.backgroundTabs {
    background-color: #746757;
    height: 151px;
}

.textOutline {
    padding-left: 50px;
    outline-width: 2px;
    outline: auto;
}
form{
    padding: 20px;
}
footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5px 0;
    position: static;
    bottom: 0;
    width: 100%;
}
.picture {
    margin-top: 0px;
    text-align: center;
    margin: 20px;
}
.pictures {
    margin-top: 20px;
    text-align: right;
    padding-right: 50px;
}

.picture img {
    max-width: 100%; 
    height: auto;
    max-height: 400px; 
}
.pictures img {
    max-width: 100%; 
    height: auto;
    max-height: 200px; 
    position: relative;
    padding-right: 40px;
}

.tabs {
    position: absolute;
        top: 92px;
        left: 50px;
        background-color:#B0A092;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 10%;
}

a {
    color: #000;
}

.tabs2 {
    position: absolute;
        top: 92px;
        left: 200px;
        background-color:#B0A092;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 10%;
}
.tabs3 {
    position: absolute;
        top: 92px;
        left: 400px;
        background-color:#B0A092;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 10%;
}
.tabs4 {
    position: absolute;
        top: 92px;
        left: 600px;
        background-color:#B0A092;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 10%;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #E7DFD8;
    position: relative;
}

.tabs:hover {
    padding-right: 30px;
    outline-width: 5px;
    outline: auto;
}
.tabs2:hover {
    padding-right: 30px;
    outline-width: 5px;
    outline: auto;;
}
.tabs3:hover {
    padding-right: 30px;
    outline-width: 5px;
    outline: auto;
}
.tabs4:hover {
    padding-right: 30px;
    outline-width: 5px;
    outline: auto;
}

@media only screen and (max-width: 768px) {
    .background {
        background-color: #E7DFD8;
    }
    
    .backgroundTabs {
        background-color: #746757;
    }
    
    .textOutline {
        padding-left: 10px;
        outline-width: 2px;
        outline: auto;
    }
    
    .picture {
        margin-top: 20px;
        text-align: center;
    }
    .pictures {
        margin-top: 20px;
        text-align: right;
        padding-right: 20px;
    }
    .picture img {
        max-width: 100%; 
        height: auto;
        max-height: 400px; 
    }
    .pictures img {
        max-width: 100%; 
        height: auto;
        max-height: 200px; 
        position: relative;
        padding-right: 20px;
    }
    form{
        padding: 10px;
    }
    
    a {
        color: #000;
    }
    .tabs {
        position: absolute;
            top: 92px;
            left: 0;
            background-color:#B0A092;
            padding-left: 10px;
            padding-right: 10px;
            border-radius: 10%;
    }
    .tabs2 {
        position: absolute;
            top: 92px;
            left: 100px;
            background-color:#B0A092;
            padding-left: 10px;
            padding-right: 10px;
            border-radius: 10%;
    }
    .tabs3 {
        position: absolute;
            top: 92px;
            left: 200px;
            background-color:#B0A092;
            padding-left: 10px;
            padding-right: 10px;
            border-radius: 10%;
    }
    .tabs4 {
        position: absolute;
            top: 92px;
            left: 310px;
            background-color:#B0A092;
            padding-left: 10px;
            padding-right: 10px;
            border-radius: 10%;
    }
    .tabs:hover {
        padding-right: 10px;
        outline-width: 5px;
        outline: auto;
    }
    .tabs2:hover {
        padding-right: 10px;
        outline-width: 5px;
        outline: auto;;
    }
    .tabs3:hover {
        padding-right: 10px;
        outline-width: 5px;
        outline: auto;
    }
    .tabs4:hover {
        padding-right: 10px;
        outline-width: 5px;
        outline: auto;
    }
}
